*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://media.istockphoto.com/id/1368169112/vector/money-green-seamless-pattern-vector-background-included-line-icons-as-piggy-bank-wallet.jpg?s=612x612&w=0&k=20&c=qjIUpnUPtiKGBgLnXGLQ_4qQUq36OvP82DIFTAdch70=);
}

.container{
    background-color: rgb(227, 255, 194);
padding: 1rem;
min-height: 50vh;
width: 60vh;
border-radius: 10%;
border: 12px double rgb(0, 0, 0);
}
.container h2{
    color: rgb(255, 0, 0);
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
text-shadow: 1px 1px 1px  black;
box-shadow: 1px 1px 1px 1px red;
}
.container p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.2rem;
}
form{
    margin: 2rem 1rem 2rem 0;
}
form select,input, button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.76rem;
}
form input{
    font-size: 1rem;
    height: 3rem;
    padding: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
max-width: 2rem;

}
.select-container{
width: 6rem;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid rgb(255, 0, 0);
border-radius: 12px;
}
.dropdown i{

font-size: 1.6rem;
margin-top: 1.5rem;
}
.select-container select{
font-size: 1rem;
width: auto;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.msg{
margin: 2rem 0 2rem 0;

}
form button{
    height: 2rem;
    background-color: rgb(0, 0, 0);
   font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0.7px 1px  rgb(255, 255, 255);
}